<!DOCTYPE html>
<html>
  <head>

    <style>

    article {
      background: lightblue;
      width: 30%;
    }

    body {
      font-family: monospace;
      background: cornsilk;
    }

    #title {
      font-size: 30px;

    }

    #post_message {
      font-size: 17px;
    }

    #view {

    }

    #time {
      font-size: 12px;
    }
    </style>



    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
